.RecipeHeader{
    background-color: rgba(83, 73, 64, 0.397);
    border-radius: 10px;

}

.RecipeHeaderTitle{
    text-shadow: 1px 1px 1px white;
    font-size: 1.2cm;
    color: black;
    width: 53%;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 100%;
    margin-left: 2% ;
}

.RecipeHeaderImg{
    display: inline-block;
    height: 200px;
    border-bottom-left-radius: 80px;
    border-top-left-radius: 20px;
    width: 35%;
    margin: 0;
    margin-left: 10%;
    padding: 0;
} 