.Element {
    background: linear-gradient(
      to bottom,
    black 20%,
      transparent
    );
    height: 100px;
  }

.Title{
    padding-top : 50px;
    color: white;
    text-align: center;
    font-family: 'Alegreya', serif;
    font-weight: 450;
    font-size: 2.2cm;
    /* text-shadow: 20px 0px 40px rgb(228, 118, 27); */
    text-shadow: 20px 0px 40px black;
}

.HomePage{
  background-size : cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media(max-width : 500px){
  .HomePage{
    background-size :contain;

    background-size: 550px 750px;
  }
  .Title{
    text-shadow: 20px 0px 50px black;
  }
}



/* add media query for smaller screens */